*{
    margin: 0%;
    padding: 0%;
}
.h1{
    background-color: aqua;
    border: 1px solid navy;
}
.form{
    width: 30%;
    height: 450px;
    background-color: skyblue;
    text-align: center;
    position: relative;
    left: 30%;
    margin-top: 7%;
    color: black;
    border: 2px solid black;
}
.input{
    width: 60%;
    height: 20px;
    /*background-color: gold;*/
}
.button{
    width: 20%;
    height: 25px;
    background-color: aqua;
    border: 1px solid;
    color: white;
   
}
.button:hover{
    background-color: rgb(9, 117, 117);
    border: 2px solid white;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: navy;
    font-size: 15px;
    font-style: italic;
}