*{
    margin: 0%;
    padding: 0%;
}

.main{
    width: 80%;
    height: 200px;
    background-color: aqua;
    position: relative;
    left: 9%;
    margin-top: 8%; /*opar se gap dey rhy hain*/
    float: left;
}

.div1{
    width: 20%;
    height: 180px;
    background-color:black;
    border-radius: 50%;       /*is property se chakor div ko circle shape mein bana rhy hain*/
    position: relative;
    margin-top: 1%;
    margin-left: 2%;   /*left se gap dey rhy hain*/
}

.div2{
    width: 70%;
    height: 180px;
    /* background-color:blue; */
    position: relative;
    left: 30%;
    margin-top: -17%;  /*neechy se opar ki tarf move kar rhy hain*/
}

.button{
    width: 10%;
    height: 30px;
    background-color:bisque;
    position: relative;
    left: 89%;
    margin-top: 1%;
}

.button:hover{
    color: rgb(199, 102, 102);
}